<div class="sidebar_menu" [@onSideNavChange]="sidebarState">
  <mat-nav-list class="menu-list">
    <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" routerLinkActive="active-list-item" routerLink="login" title="af">
      <mat-icon class="icon menu-icon" style="font-size: 1em !important;" [@iconAnimation]="sidebarState">input</mat-icon>
      <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">AF</span>
    </mat-list-item>
    <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
		<a mat-list-item >Terminal 1</a>
		<a mat-list-item routerLink="/terminal" routerLinkActive="active">Terminal 2</a>
		<a  routerLink="/terminal"> <mat-list-item> Terminal 3 </mat-list-item></a>
		
		
		
		<mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
			<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
			<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
		</mat-list-item>
		<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
			<mat-list-item>SubSubmenu Item 1</mat-list-item>
			<mat-list-item>SubSubmenu Item 2</mat-list-item>
		</div>
	</div>
    <mat-divider></mat-divider>
    <mat-list-item routerLinkActive="active-list-item" routerLink="dashboard" title="Dashboard">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">dashboard</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Dashboard</span>
    </mat-list-item>
    <mat-list-item routerLinkActive="active-list-item" routerLink="work" title="Work">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">work</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Work</span>
    </mat-list-item>
    <mat-list-item routerLinkActive="active-list-item" routerLink="feedback" title="Feedback">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">feedback</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Feedback</span>
    </mat-list-item>
  </mat-nav-list>
  
  
</div>

<!-- <div class="sidebar_menu" [@onSideNavChange]="sidebarState">
  <mat-nav-list class="menu-list">
    <a mat-list-item routerLinkActive="active-list-item" routerLink="login" title="Login">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">input</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Login</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="dashboard" title="Dashboard">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">dashboard</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Dashboard</span>
    </a>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="work" title="Work">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">work</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Work</span>
    </a>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="feedback" title="Feedback">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">feedback</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Feedback</span>
    </a>
  </mat-nav-list>
</div> -->
